# Исключаем виртуальную среду
venv/

# Исключаем скомпилированные файлы Python
__pycache__/
*.pyc

# Исключаем логи
torrent_monitor.log

# Исключаем конфигурационный файл с чувствительными данными
torrent_monitor_config.json